{% extends "_base.html" %}
{% block content %}
  <h1><em>{{ current_user.email }}</em>'s pics</h1>
  <div class="row" id="my-pics-area">
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://lorempixel.com/output/nature-q-g-791-480-7.jpg">
          <img src="http://lorempixel.com/output/nature-q-g-791-480-7.jpg" style="width:120px;height:120px">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://lorempixel.com/output/nature-q-g-791-480-7.jpg">
          <img src="http://lorempixel.com/output/nature-q-g-791-480-7.jpg" style="width:120px;height:120px">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://lorempixel.com/output/nature-q-g-791-480-7.jpg">
          <img src="http://lorempixel.com/output/nature-q-g-791-480-7.jpg" style="width:120px;height:120px">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://lorempixel.com/output/nature-q-g-791-480-7.jpg">
          <img src="http://lorempixel.com/output/nature-q-g-791-480-7.jpg" style="width:120px;height:120px">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://lorempixel.com/output/nature-q-g-791-480-7.jpg">
          <img src="http://lorempixel.com/output/nature-q-g-791-480-7.jpg" style="width:120px;height:120px">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row" id="my-pics-area">
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://lorempixel.com/output/nature-q-g-791-480-7.jpg">
          <img src="http://lorempixel.com/output/nature-q-g-791-480-7.jpg" style="width:120px;height:120px">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://lorempixel.com/output/nature-q-g-791-480-7.jpg">
          <img src="http://lorempixel.com/output/nature-q-g-791-480-7.jpg" style="width:120px;height:120px">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://lorempixel.com/output/nature-q-g-791-480-7.jpg">
          <img src="http://lorempixel.com/output/nature-q-g-791-480-7.jpg" style="width:120px;height:120px">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://lorempixel.com/output/nature-q-g-791-480-7.jpg">
          <img src="http://lorempixel.com/output/nature-q-g-791-480-7.jpg" style="width:120px;height:120px">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="http://lorempixel.com/output/nature-q-g-791-480-7.jpg">
          <img src="http://lorempixel.com/output/nature-q-g-791-480-7.jpg" style="width:120px;height:120px">
          <div class="caption">
            <p>Lorem ipsum...</p>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
