{% extends "_base.html" %}

{% block content %}

<div class="body-content">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="text-align:center">
      <h1>Image #{{ picture.id }} details</h1>
      <p>{{ picture.upload_date }} by user {{ picture.owner_id }}</p>
      <a href="{{ picture.get_file_url() }}">
          <img class="img-fluid" src="{{ picture.get_file_url() }}">
      </a>
      <h4 style="margin-top:20px">Tags</h4>
      <p>{{ picture.get_tags_html()|safe }}</p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

{% endblock %}
