{% extends "_base.html" %}
{% block content %}
  <h1><em>{{ current_user.email }}</em>'s pics</h1>
  <div class="row" id="my-pics-area">
  {% for picture in pictures %}
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="{{ picture.get_web_url() }}">
          <img src="{{ picture.get_web_url() }}" style="width:120px;height:120px">
          <div class="caption">
            <p>{{ picture.get_caption() }}</p>
          </div>
        </a>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}
